<h1>Available Notification Items</h1>
 
<table class="table table-hover">
 
  <thead class="table-dark">
    <tr>
      <th>Subject</th>
      <th>Message</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.subject %></td>
        <td><%= notification.message %></td>
        <td><%= notification.status %></td>
        <td><%= link_to "show_notification", notification_path(notification) %></td>
        </tr>
    <% end %>
  </tbody>
 </table>