<h1>Available Notification Items</h1>
 
<table class="table table-hover">
 
  <thead class="table-dark">
    <tr>
      <th>Subject</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.subject %></td>
      <td><%= notification.message %></td>
      <td>
        <%if notification.subject.include?("Winner")%>
          <%= link_to 'Pay For Bid', view_winner_notification_path(notification), class: "btn btn-primary me-5" %>
        <%end%>
      </td>
      </tr>
  <% end %>

  </tbody>
 </table>