<h1>Available Zord Items</h1>
 
<table class="table table-hover">
 
  <thead class="table-dark">
    <tr>
      <th>Material</th>
      <th>Theme</th>
      <th>Ability</th>
      <th>Capacity</th>
    </tr>
  </thead>
 
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.material %></td>
        <td><%= request.theme %></td>
        <td><%= request.ability %></td>
        <td><%= request.capacity %></td>
      </tr>
    <% end %>
  </tbody>
 
</table>

