<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card mt-5">
        <div class="card-body">
          <h1 class="card-title">Order Placed Successfully!</h1>
          <p class="card-text">Your order has been successfully placed.</p>
          <p class="card-text">It will arrive within 3-5 business days.</p>
          <!-- Add any other relevant information here -->
        </div>
      </div>
    </div>
  </div>
</div>
